html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "proximanova_regular";
  src: url("proximanova-regular.b7b7c695.eot");
  src: url("proximanova-regular.b7b7c695.eot?#iefix") format("embedded-opentype"), url("proximanova-regular.241421ae.ttf") format("truetype");
}
body {
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #c0c7cb;
}

.Accordion {
  background-color: #fff;
  margin: 1em;
  padding: 1em;
}
@media screen and (min-width: 600px) {
  .Accordion {
    margin: 2em;
    padding: 2em;
  }
}
.Accordion-title {
  font-size: 30px;
  text-align: center;
  color: #167db7;
}
.Accordion-list {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .Accordion-list {
    max-width: 300px;
  }
}
.Accordion-term {
  padding: 1em;
  font-size: 16px;
  border: 1px solid #000;
  border-bottom: none;
  text-align: center;
}
.Accordion-term:last-of-type {
  border-bottom: 1px solid #000;
}
.Accordion-term:hover {
  background-color: #167db7;
  color: #fff;
  cursor: pointer;
}
.Accordion-term--active {
  border-bottom: 1px solid #000;
}
@media screen and (min-width: 800px) {
  .Accordion-term--active {
    border-bottom: none;
    background-color: #167db7;
    color: #fff;
  }
}
.Accordion-termContent {
  display: none;
  padding: 1em 0;
  font-size: 16px;
  line-height: 22px;
}
.Accordion-termContent--visible {
  display: block;
}
@media screen and (min-width: 800px) {
  .Accordion-termContent--visible {
    padding: 0;
    position: absolute;
    left: 360px;
    width: calc(100% - 400px);
  }
}