@import "../../styles/main.scss";

.Bonus {
  background-color: $color-white;
  margin: 1em;
  padding: 1em;

  @media screen and (min-width: $bp-s) {
    margin: 2em 4em;
    padding: 2em;
  }
  @media screen and (min-width: $bp-l) {
    margin: 2em 10em;
  }

  &-title {
    font-size: $font-xxl;
    text-align: center;
    color: $color-blue;
  }

  &-input {
    width: 100%;
    margin: 1em 0;
    padding: 0 0 0 1em;
    line-height: 3em;
    font-size: $font-l;
  }

  &-resultList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  &-zeroResult {
    margin: auto;
    padding: 5em 0;
    font-size: $font-l;
  }

  &-errorText {
    color: $color-red;
    font-family: $fontfamily-error;
    font-size: $font-m;
  }

  &-quotedQuery {
      font-style: italic;
      font-weight: bold;
  }

  &-imageItem {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }

  &-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: $color-lightGrey;

    &--active {
      display: flex;
    }
  }

  &-modalImage {
    max-height: 90%;
    max-width: 90%;
  }
}