@font-face {
  font-family: 'proximanova_regular';
  src: url('/assets/fonts/proximanova-regular.eot');
  src: url('/assets/fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/proximanova-regular.ttf') format('truetype')
}