@import "main.scss";

.Home {
  &-wrapper {
    margin: 1em 2em;
    padding: 1em 1em 3em;
    background-color: $color-white;
  }

  &-title {
    margin: 2em auto;
    text-align: center;
    font-size: 3em;
    color: $color-blue;
  }

  &-exerciseWrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-s) {
      flex-direction: row;
      justify-content: space-evenly;  
    }
  }

  &-exerciseLink {
    padding: .5em 1em;
    font-size: 2em;
    color: $color-black;
    border: 1px solid $color-white;
    text-decoration: none;
    text-align: center;
    transition: background-color .8s ease;

    &:hover {
      border: 1px solid $color-blue;
      background-color: $color-blue;
      color: $color-white;
      transition: background-color .8s ease;
    }
  }
}
