// FONTS
$font-s: 10px;
$font-m: 12px;
$font-l: 16px;
$font-xl: 22px;
$font-xxl: 30px;

// FONT FAMILY
$fontfamily-primary: 'proximanova_regular', Helvetica,Arial,sans-serif;
$fontfamily-error: monospace, sans-serif;

//BREAKPOINTS
$bp-s: 600px;
$bp-m: 800px;
$bp-l: 1200px;

//COLORS
$color-blue: #167db7;
$color-white: #fff;
$color-black: #000;
$color-grey: #c0c7cb;
$color-red: #D21F3C;
$color-lightGrey: rgba(1, 1, 1, 0.4);
